.AboutPage {
  padding: 4rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;

  h3 {
    margin: 2rem 0 .5rem 0;
  }

  h4 {
    span {
      text-transform: none;
    }
  }
}
