.BackgroundVideo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-container {
    transition: 0.5s ease-in-out;
  }

  .player {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    video {
      object-fit: cover;
    }
  }
}
