.BackgroundVideo {
  position: relative;
  overflow: unset !important; // todo: remove

  .video-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .loading-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s ease-in-out;
    }
  }
}
