.SlideInContainer {
  position: absolute;
  width: 60vw;
  max-width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: row;

  &.slide-in-from-right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8) 40%);
    animation: 1s slide-in-from-right ease-out;

    .scroll-container {
      padding: 6rem 2rem 6em 6em;
    }
  }

  &.slide-in-from-left {
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.8) 40%);
    animation: 1s slide-in-from-left ease-out;

    .scroll-container {
      padding: 6rem 6em 6em 2rem;
    }
  }

  .scroll-container {
    position: relative;
    overflow-y: scroll;

    .ScrollIndicator {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 3rem;
    }
  }

  .RoundButton {
    position: absolute;
    top: 10vh;
  }

  @keyframes slide-in-from-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
