.SlideInContainer {
  position: absolute;
  width: 60vw;
  max-width: 800px;
  height: 100vh;
  right: 0;
  animation: 1s slide-in ease-out;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.9) 40%);
  display: flex;
  flex-direction: row;

  .scroll-container {
    padding: 6rem 2rem 6em 6em;
    overflow-y: scroll;

    .ScrollIndicator {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 3rem;
    }
  }

  .RoundButton {
    position: absolute;
    top: 10vh;
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
