.HoverPointWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.5rem 2rem;

  .HoverPoint {
    transform: translateX(50%);
  }

  .label {
    background-color: white;
    color: black;
    padding: .5rem 1rem;
    margin: .5rem 0;
  }

  &.company {
    .HoverPoint .circle {
      background-color: $clrHighlight;
      border-color: $clrHighlight;
    }

    .label {
      background-color: $clrHighlight;
    }
  }
}
