.SelectionChip {
  //border: $lineThick white solid;
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-right: 1rem;

  p {
    text-transform: uppercase;
    margin: 0;
    color: black;
    font-size: .8rem;
    font-weight: bold;
    padding: .2rem 1rem .2rem 1rem;

  }


}
