.Navigation {
  pointer-events: none;
  width: 100vw;
  position: fixed;
  padding: 0.75rem 0.5rem;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 1s ease-in-out;

  button, a {
    pointer-events: auto;
  }

  &.open {
    background: linear-gradient(to bottom, #0002 60%, #00000001);
  }

  .nav-item {
    text-align: center;

    &:hover {
      cursor: grab;
    }
  }

  .navbar-toggler-icon, .navbar-toggler, .navbar-brand, .nav-link, .navbar-toggler-bar {
    color: white;
    border-color: transparent;
  }

  .navbar-toggler {
    position: relative;
    width: 2rem;
    height: 1.5rem;
    padding: unset;

    .navbar-toggler-bar {
      position: absolute;
      background-color: white;
      width: 100%;
      height: $lineThick;
      left: 0;
      transition: 200ms ease-in-out;

      &.top {
        top: 0;
        transform-origin: center left;
      }

      &.center {
        top: 50%;
        transform: translateY(-50%);
      }

      &.bottom {
        bottom: 0;
        transform-origin: center left;
      }
    }

    &.open {
      .navbar-toggler-bar {

        &.top {
          transform: rotate(45deg);
        }

        &.center {
          width: 0;
          transition: unset;
          opacity: 0;
        }

        &.bottom {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
