.ProgressIndicator {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  svg {
    width: 4rem;
    height: 4rem;
    pointer-events: none;

    &.hide path {
      opacity: 0;
    }

    path {
      stroke: white;
      stroke-width: 2px;
      animation: draw-strokes linear forwards;
    }
  }

  .icon {
    position: absolute;
    width: 12px;
  }

  @keyframes draw-strokes {
    0% {
      //stroke: deeppink;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}
