.Slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: $lineThin white solid;
  border-radius: 1rem;
  padding: 0 0.5rem 0 1rem;

  img {
    padding: .5rem;
  }

  p {
    text-transform: uppercase;
    font-size: 14px;
  }
}
