.TimeLine {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin: 0 4rem 2rem 0;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: .7;

    &:hover {
      opacity: 1;
    }

    span {
      padding: .2rem;
      border-radius: 50%;
      background-color: white;
    }

    &.large-point {
      span {
        padding: .4rem;
      }
    }
  }
}
