.TimeLine {
  display: flex;
  flex-direction: row;

  & > * {
    padding-left: 1.5rem;
  }

  .timeline-items {

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        border-radius: 50%;

        &:hover span {
          opacity: 1;
          background-color: $clrHighlight;
        }

        span {
          width: .3rem;
          height: .3rem;
          transition: .2s ease-in-out;
          border-radius: 50%;
          background-color: white;
          overflow: hidden;
          border: unset;

          &.transparent {
            opacity: 0.5;
          }
        }

        &.large-point span {
          width: .7rem;
          height: .7rem;
        }
      }

      .horizontal-line {
        width: 1.2rem;
        border-bottom: $lineThin white solid;

        &.transparent {
          opacity: 0;
        }
      }
    }
  }
}
