@import "../variables";
/**
 * Insert all stylesheets of components here
 * (must be below variables.scss, but after that the order does not matter)
 */
@import '../index.scss';
@import '../components/animations/VideoFullScreen';
@import '../components/animations/SVGStrokeAnimation.scss';
@import '../components/buttons/HoverPoint.scss';
@import '../components/buttons/HoverPointWithLabel';
@import '../components/buttons/PaginationList.scss';
@import '../components/buttons/RectButton.scss';
@import '../components/buttons/RoundButton.scss';
@import '../components/labels/EntryLabel.scss';
@import '../components/widgets/Navigation.scss';
@import '../components/widgets/Quiz.scss';
@import '../components/widgets/QuizBox.scss';
@import '../components/widgets/PopupContainer.scss';
@import '../pages/intro/IntroductionPage.scss';
@import '../pages/video/VideoPage.scss';
@import '../pages/side/travelingDistance/TravelingDistancePage.scss';

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .alert {
    position: absolute;
    width: 95vw;
    border-radius: .2rem;
    border-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem 5rem;
    background-color: #222;
    color: white;

    button {
      font-size: 4rem;
    }

    h2 {
      padding: 1rem 0;
    }

    p {
      width: 80%;
      padding-bottom: .5rem;
    }
  }
}
