.IntroductionPage {

  .navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 4rem 1rem 1rem;

    .RoundButton {
      margin: 1rem;
    }
  }

  .Slide02 {
    .Quiz {
      position: absolute;
      left: 5%;
      bottom: 10%;

      .RectButton {
        padding: 0.2rem;
        margin: 0.3rem;
      }
    }
  }

  .Slide03 {
    .RectButton {
      position: absolute;
      left: 50%;
      bottom: 16%;
      transform: translateX(-50%);
    }
  }
}
