.IntroductionPage {

  .slides-container {
    position: relative;
    width: 100%;
    height: 100%;

    .slide {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;

      &.isActive {
        opacity: 1;
      }

      &:not(.isActive) {
        pointer-events: none;
      }

      .slide-element {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .slide-navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 4rem 1rem 1rem;

    .RoundButton {
      margin: 1rem;
    }
  }

  .slide {
    .bottom-element {
      position: absolute;
      vertical-align: center;
      bottom: 10vh;
    }

    &.Slide02 {
      .quiz-reputation {
        transform: translate(-100px, -370px);
      }

      .quiz-history {
        transform: translate(-450px, 120px);
      }

      .quiz-sport {
        transform: translate(300px, -300px);
      }

      // TODO: all animations should be done with GSAP
      &.isActive {
        .quiz-reputation, .quiz-history, .quiz-sport {
          opacity: 0;
        }

        .quiz-reputation {
          animation: fade-in .5s ease-in 3.5s forwards;
        }

        .quiz-history {
          animation: fade-in .5s ease-in 4.5s forwards;
        }

        .quiz-sport {
          animation: fade-in .5s ease-in 5.5s forwards;
        }
      }
    }

    &.Slide03 {
      .quiz-companies {
        transform: translate(-500px, -30px);
      }

      .quiz-jobs {
        transform: translate(270px, -110px);
      }

      .bottom-element {
        &.text-container, &.go-to-main-button {
          opacity: 0;
        }
      }

      // TODO: all animations should be done with GSAP
      &.isActive {
        .quiz-companies, .quiz-jobs {
          opacity: 0;
        }

        .quiz-companies {
          animation: fade-in .5s ease-in 3.5s forwards;
        }

        .quiz-jobs {
          animation: fade-in .5s ease-in 4.5s forwards;
        }

        .bottom-element {
          &.text-container, &.go-to-main-button {
            opacity: 0;
          }
        }

        .bottom-element {
          &.text-container {
            opacity: 1;
            animation: fade-out 1s ease-out 5s forwards;
          }

          &.go-to-main-button {
            opacity: 0;
            padding: 0.5rem 3.5rem;
            animation: fade-in 1s ease-in 6s forwards;
          }
        }
      }
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
