.EntryLabel {
  $line-height: 2px;

  h3 {
    margin: unset;
    border-bottom: $line-height solid white;
  }

  .label-line {
    position: absolute;
    border-bottom: $line-height solid white;
  }
}
