.HoverPoint {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  .circle {
    border-radius: 50%;
    position: absolute;
    transition: 0.2s ease-in-out;
    background-color: white;
    cursor: pointer;

    &.outer-circle {
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }

    &.inner-circle {
      width: 35%;
      height: 35%;
      border: 3px white solid;
    }
  }

  &.is-active {
    .circle {
      &.outer-circle {
        transform: scale(1.1);
        transform-origin: center;
      }

      &.inner-circle {
        background-color: #7EE2D1;
      }
    }
  }
}
