.EntryLabel {
  $line-height: 2px;
  position: relative;

  h3 {
    min-width: 120px;
    margin: unset;
    border-bottom: $line-height solid white;
  }

  .label-line {
    position: absolute;
    border-bottom: $line-height solid white;
  }

  &.right {
    .label-line {
      right: 0;
    }
  }
}
