
// colors
$clrHighlight: #7EE2D1 !default;

$backgroundTransparentDark: rgba(0, 0, 0, 0.6) !default;
$backgroundTransparentLight: rgba(255, 255, 255, 0.2) !default;

// sizes
$lineThin: 1px !default;
$lineThick: 2px !default;

// fonts
$fontSmall: 14px !default;
$fontMedium: 16px !default;
$fontLarge: 18px !default;
