.VideoPage {

  .baden-slide1 {

    .hiking-trails {
      transform: translate(-170px, 40px);

      .HoverPoint {
        left: 40px;
        top: 50px;
      }
    }

    .culture-and-history {
      transform: translate(210px, -30px);

      .HoverPoint {
        left: 50px;
        top: -50px;
      }
    }

    .cie-mammut {
      transform: translate(370px, 130px);

      .HoverPoint {
        left: 70px;
        top: -100px;
      }
    }
  }
}

