.VideoSlide {
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-hover-point-container {
    transition: opacity .2s ease-out;

    &.hide {
      opacity: 0;
    }

    .OverlayHoverPoint {
      position: absolute;
    }
  }
}
