.VideoSlide {
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay-hover-point-container {
    transition: opacity .2s ease-out;

    &.hide {
      opacity: 0;
    }

    .OverlayHoverPoint {
      position: absolute;

      &.hiking-trails {
        left: 20%;
        top: 30%;
      }

      &.cie-mammut {
        right: 20%;
        bottom: 30%;
      }
    }
  }
}
