.VideoPage {

  .TimeLine {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: 3rem 5rem;

    .button {
      padding: .5rem;
      opacity: .7;
      background-color: white;
      border-radius: 50%;
      transition: opacity .3s ease-in-out;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .baden-slide1 {

    .hiking-trails {
      transform: translate(-250px, 40px);

      .HoverPoint {
        left: 40px;
        top: 50px;
      }
    }

    .culture-and-history {
      transform: translate(250px, -70px);

      .HoverPoint {
        left: 50px;
        top: -50px;
      }
    }

    .cie-mammut {
      transform: translate(90px, 140px);

      .HoverPoint {
        left: 70px;
        top: -100px;
      }
    }
  }
}

