.MenuPage {
  background-size: cover;
  background-position: center;

  .video-fade-container {
    transition: linear;
    background-color: black;

    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: 0;
    }
  }
}
